<!-- <section style="margin-left: 15px; max-width: 800px;"> -->
<section>
  <h2 style="margin-left:20px;">About the Developer</h2>

  <h4>Intro</h4>
  <p style="margin-left: 20px;">
    I'd like to thank you for stopping by my site! </p>

  <img src="../../../assets/about/on-a-mtn.jpg" alt="on top of black balsam"
    title="Black Balsam, Transylvania County, NC, 2022">
  <img src="../../../assets/about/on-the-desktops.jpg" alt="on the desktops" title="the setup">

  <p style="margin-left: 20px;">
    Whether you're family, a prospective employer or another github-ber, this site aims to showcase what can be done
    with a little bit of Angular.</p>

  <h4>Work</h4>
  <p style="margin-left: 20px;">
    I come from a background as an Insurance Adjuster, having worked with and for various nationwide carriers. During
    that time, I've worked in the aftermath of hurricanes and wildfires and other things that mother-nature can throw at
    us.
    Eventually, I found that creating a faster workflow and macros appealled to me more than living out of a suitcase,
    and so I found myself graviting towards the front-end environment building with Angular and other tools.
  </p>

  <h4>Tooling</h4>
  <ul>
    <li>HP elitebook 840 G8</li>
    <li>Linux, PopOS 22.04 LTS</li>
    <li>Neovim, customized <a href="https://raw.githubusercontent.com/25andros/dotfiles/main/init.lua">init.lua</a></li>
    <li>Programmer Dvorak keyboard</li>
  </ul>

  <h4>Outside of Work</h4>
  <ul>
    <li>Exercise nut; cycling, running, lifting</li>
    <li>Built bicycle wheel from scratch</li>
    <li>Foodie-lite; brew kombucha, <a href="https://www.wpr.org/recipe-overnight-straight-pizza-dough">pizza</a> from
      scratch, <a href="https://rramen.netlify.app/recipes/tomita-tsukemen">ramen</a> from scatch</li>
    <li>Built a hackintosh or three, and a desktop from scratch</li>
    <li>Fond of good <a href="/quotes">quotes</a></li>
    <p>Fond of building things from scatch....</p>
  </ul>

  <!-- <img src="../../../assets/about/" alt=""> -->
  <img src="../../../assets/about/wheel-building.jpg" alt="tools involved in wheel building"
    title="wheel building at its finest...">
  <img src="../../../assets/about/my-baby.jpg" alt="a splendid looking bicycle" title="my favourite bike">


  <img src="../../../assets/about/pizza-shrimp.jpg" alt="a declicious looking pizza"
    title="pizza, alla fruit della mer">
  <img src="../../../assets/about/ramen.jpg" alt="ramen, ready to eat" title="ramen, hot and fresh">


  <h4>Education & Certification</h4>
  <ul>
    <li>Bachelor's in Business Admin from UNC Wilmington</li>
    <li>W3C certificate in HTML, CSS, Javascript</li>
  </ul>
</section>
