mat-card {
  max-width: 600px;
}

mat-progress-bar {
  margin: 0 10px 0 5px;
}

mat-card-header {
  font-size: x-large;
  font-style: oblique;
}

.type {
 color: grey; 
}

button {
  margin: 0 5px;
}




.custom-css-class {
  background-color: brown;
}
