<mat-toolbar color="primary">

  <!-- <button mat-button routerLink="/index">Index</button> -->
  <!-- <a routerLink="/home">Go</a> -->
  <button mat-button routerLink="/projects" (click)="toTop()">Projects</button>
  <button mat-button routerLink="/about" (click)="toTop()" >About</button>
  <button mat-button ><a href="https://github.com/25andros">Github</a></button>
  <button mat-button ><a href="https://www.linkedin.com/in/zackgibbs/">LinkedIn</a></button>
  <button mat-button ><a href="https://onedrive.live.com/view.aspx?resid=4045F23634346FAE!26498&ithint=file%2cdocx&authkey=!AGHQFZoWGW1R_P0" target="_blank">Résumé</a></button>

  <span style="flex: 1 1 auto"></span>

  <p style="font-size: 8px;">Site Design by: Zack Gibbs, All rights reserved; 2023</p>


</mat-toolbar>

  <!-- <button mat-button ><a href="https://1drv.ms/w/s!Aq5vNDQ28kVAgc8CYdAVmhYZbVH8_Q?e=YaAL07">Résumé</a></button> -->
