<p>Hello curious reader! Here I have plans for more features that will include cadence, watts, and a wheel tension app! Stay tuned...</p>
<!-- <div>
<mat-drawer-container>
  <mat-drawer mode=side opened=true>


    <mat-tab-group>
      <mat-tab label="Controls" style="height: 600px;">

        <h3>Chainring && Cassette</h3>

        <mat-form-field appearance="fill" class="front-gears">
          <mat-label>Front Gear</mat-label>
          <input matInput placeholder="53" value="53" [(ngModel)]="data.front">
        </mat-form-field>

        <mat-form-field appearance="fill" class="front-gears">
          <mat-label>Front Gear, small</mat-label>
          <input matInput placeholder="39" value="39" [(ngModel)]="data.front2">
        </mat-form-field>

        <div style="margin-top:5px"></div>

        <mat-form-field appearance="fill">
          <mat-label>Rear Gear</mat-label>
          <input matInput placeholder="11" value="11" [(ngModel)]="data.rear">
        </mat-form-field>

        <h3>Wheel Size</h3>

        <mat-radio-group aria-label="Wheel Size" [(ngModel)]="data.diameter" required title="Select wheel diameter">
          <mat-radio-button value="622">700c</mat-radio-button>
          <mat-radio-button value="584">650b</mat-radio-button>
          <mat-radio-button value="559">26"</mat-radio-button>
        </mat-radio-group>

        <div style="margin-top:10px"></div>

        <mat-form-field appearance="fill">
          <mat-label>Tyre Size (mm)</mat-label>
          <input matInput placeholder="53mm" value="35">
        </mat-form-field>


        <button mat-raised-button="" color="primary" (click)="calc()">Submit</button>
        <button mat-raised-button="" color="accent" (click)="more()">punch</button>
        <button mat-raised-button="" color="warn">reset</button>

      </mat-tab>

      <mat-tab label="Settings">
      </mat-tab>

    </mat-tab-group>


  </mat-drawer>

  <mat-drawer-content>


    <p> 1 revolution of pedals = {{this.data.distance}} meters of bicycle travel</p>

  </mat-drawer-content>

</mat-drawer-container>

</div> -->
