
mat-drawer {
  width: 250px;
  text-align: center;
}

mat-drawer-content {
 height: 700px; 

 background: lightgray;
}

.front-gears {
  width: 40%;
  margin: 10px;
}

.inline-radios {
  display: block;
}
